In [1]:
import pandas as pd
import numpy as np

In [2]:
# Class to colorize, bold, or underline output
class color:
    PURPLE = '\033[95m'
    CYAN = '\033[96m'
    DARKCYAN = '\033[36m'
    BLUE = '\033[94m'
    GREEN = '\033[92m'
    YELLOW = '\033[93m'
    RED = '\033[91m'
    BOLD = '\033[1m'
    UNDERLINE = '\033[4m'
    END = '\033[0m'

In [8]:
# define header for our data, the UCI dataset does not have a header
headers = ["age", "workclass", "fnlwgt", "education", "education-num",
           "marital-status", "occupation", "relationship", "race",
           "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country",
           "income"]

# load the data from github repo and convert the values with '?' to NaN
# url = "https://raw.githubusercontent.com/vbolois3/WhizLabsML/master/CensusIncome/CensusIncomeDataset.csv"
url = "https://raw.githubusercontent.com/mrmyothet/MLS-C01/refs/heads/main/census_income/adult.data"
df = pd.read_csv(url, header=None, names=headers, na_values="null")

df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
# seperate the features and target
features_df = df.drop('income', axis=1)
target_df = df['income']

In [5]:
# what datatype are in the dataset
features_df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
dtype: object

In [6]:
categorical_features_df = features_df.select_dtypes(include=['object']).copy()
categorical_features_df

,workclass,education,marital-status,occupation,relationship,race,sex,native-country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba
...,...,...,...,...,...,...,...,...
32556,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States
32557,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States
32558,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States
32559,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States
32560,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States

In [9]:
categorical_features_NaN = categorical_features_df[categorical_features_df.isnull().any(axis=1)]
categorical_features_NaN

Empty DataFrame
Columns: [workclass, education, marital-status, occupation, relationship, race, sex, native-country]
Index: []

In [10]:
# which features have a NaN values 
categorical_features_df.columns[categorical_features_df.isnull().any()].tolist()

[]

In [11]:
# Impute the NaN values using scikit-learn SimpleImpute Class
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

# Impute workclass values
imputer = imputer.fit(features_df[['workclass']])
features_df['workclass'] = imputer.transform(features_df[['workclass']]).ravel()

# Impute occupation values
imputer = imputer.fit(features_df[['occupation']])
features_df['occupation'] = imputer.transform(features_df[['occupation']]).ravel()

# Impute native-country values
imputer = imputer.fit(features_df[['native-country']])
features_df['native-country'] = imputer.transform(features_df[['native-country']]).ravel()


# Recreate the dataframe of only the categorical features
categorical_featuresDf = features_df.select_dtypes(include=['object']).copy()

# Recheck to find any null value entries in the categorical features
categorical_features_NaN = categorical_featuresDf[categorical_featuresDf.isnull().any(axis=1)]
# Which features hava a NaN value?
categorical_featuresDf.columns[categorical_featuresDf.isna().any()].tolist()

[]

In [ ]:
# Use binary encoding for the sex feature
from sklearn.preprocessing import LabelBinarizer

# How many differernt sex feature value types
print(color.BOLD + color.PURPLE + "\nHow many different sex feature types?" + color.END)
print(categorical_featuresDf["sex"].value_counts())

How many different sex feature types?
sex
Male      21790
Female    10771
Name: count, dtype: int64

In [13]:
label_style = LabelBinarizer()
label_results = label_style.fit_transform(categorical_featuresDf ["sex"])
print(color. BOLD+ color. PURPLE + "\nLabelBinarizer of sex feature" + color.END) 

categorical_featuresDf ["sex_code"] = pd.DataFrame({'sex': label_results[:, 0]}) 
categorical_featuresDf [["sex", "sex_code"]].head (15)

LabelBinarizer of sex feature

        sex  sex_code
0      Male         1
1      Male         1
2      Male         1
3      Male         1
4    Female         0
5    Female         0
6    Female         0
7      Male         1
8    Female         0
9      Male         1
10     Male         1
11     Male         1
12   Female         0
13     Male         1
14     Male         1